.timeline {
    transform: rotate(90deg);
}

.timelineContentContainer {
    text-align: right;
}

.timelineContent {
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    min-width: 50px;
}

.timelineIcon {
    transform: rotate(-90deg);
}