@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Bold.ttf");
    src: url("../fonts/KumbhSans-Bold.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Regular.ttf");
    src: url("../fonts/KumbhSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Light.ttf");
    src: url("../fonts/KumbhSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
    src: url("../fonts/Anton-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari-Bold.eot");
    src: url("../fonts/Manjari-Bold.eot") format("embedded-opentype"),
         url("../fonts/Manjari-Bold.woff") format("woff"),
         url("../fonts/Manjari-Bold.woff2") format("woff2"),
         url("../fonts/Manjari-Bold.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari-Regular.eot");
    src: url("../fonts/Manjari-Regular.eot") format("embedded-opentype"),
         url("../fonts/Manjari-Regular.woff") format("woff"),
         url("../fonts/Manjari-Regular.woff2") format("woff2"),
         url("../fonts/Manjari-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Manjari";
    src: url("../fonts/Manjari-Thin.eot");
    src: url("../fonts/Manjari-Thin.eot") format("embedded-opentype"),
         url("../fonts/Manjari-Thin.woff") format("woff"),
         url("../fonts/Manjari-Thin.woff2") format("woff2"),
         url("../fonts/Manjari-Thin.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}


/* Fredoka */
@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-Light.ttf");
    src: url("../fonts/Fredoka-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-Regular.ttf");
    src: url("../fonts/Fredoka-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-Medium.ttf");
    src: url("../fonts/Fredoka-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-SemiBold.ttf");
    src: url("../fonts/Fredoka-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Fredoka";
    src: url("../fonts/Fredoka-Bold.ttf");
    src: url("../fonts/Fredoka-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}
