{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div>
        {%- for error in errors -%}
            <p class="form_errors_item">{{ error.message }}</p>
        {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}