[class^="ico-"], [class*=" ico-"] {
    @extend %icon;
}

[class^="icon-"], [class*=" icon-"] {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100%;
    width: 100%;
    transition: $transition-base;
}

.icon-cart {
    background-image: url('../../icons/cart.png');
    max-height: rem(32);
    top: rem(3);
}

.icon-user {
    background-image: url('../../icons/user.png');
    max-height: rem(40);
}

.ico-close {
    &::before {
        @include icon(close);
    }
}

.ico-arrow {
    &::before {
        @include icon(arrow);
    }
}


.ico-calendar {
    &::before {
        @include icon(calendar);
    }
}


.ico-facebook {
    &::before {
        @include icon(facebook);
    }
}


.ico-goto {
    &::before {
        @include icon(goto);
    }
}

.ico-info {
    &::before {
        @include icon(info);
    }
}

.ico-instagram {
    &::before {
        @include icon(instagram);
    }
}

.ico-play {
    &::before {
        @include icon(play);
    }
}

.ico-search {
    &::before {
        @include icon(search);
    }
}

.ico-seatingplan {
    &::before {
        @include icon(seatingplan);
    }
}

.ico-send {
    &::before {
        @include icon(send);
    }
}

.ico-tiktok {
    &::before {
        @include icon(tiktok);
    }
}

.ico-timer {
    &::before {
        @include icon(timer);
    }
}

.ico-twitter {
    &::before {
        @include icon(twitter);
    }
}

.ico-user {
    &::before {
        @include icon(user);
    }
}

.ico-youtube {
    &::before {
        @include icon(youtube);
    }
}

.ico-delete {
    &::before {
        @include icon(delete);
    }
}

.ico-minus {
    &::before {
        @include icon(minus);
    }
}

.ico-add {
    &::before {
        @include icon(adding);
    }
}

