@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot?dcxkbn');
    src: url('../../fonts/icomoon.eot?dcxkbn#iefix') format('embedded-opentype'),
         url('../../fonts/icomoon.ttf?dcxkbn') format('truetype'),
         url('../../fonts/icomoon.woff?dcxkbn') format('woff'),
         url('../../fonts/icomoon.svg?dcxkbn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


%icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-decoration: inherit;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function icon-char($filename) {
    $char: "";
  
    @if $filename == arrow {
        $char: "\E900";
    }
    @if $filename == close {
        $char: "\E902";
    }

    @return $char;
}

@mixin icon($filename) {
    content: icon-char($filename);
}

%ico-close {
    @include icon(close);
}

%ico-arrow {
    @include icon(arrow);
}