<div class="tcard">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="tcard__thumb">
                    <a href="">
                        <img src="{{ asset('/uploads/fake/img1.jpg') }}" alt="Le Théâtre">
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="tcard__content dots dots--l">
                    <h2 class="title h2">Le Théâtre</h2>
                    <p class="tcard__subtitle">Un théâtre de toute beauté !</p>

                    <div class="tcard__description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    
                    <a class="btn" href="">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>