{% extends websiteTemplates('base.html.twig') %}

{% block body %}
<main>
    {{ hook('homeHeader') }}
    {{ hook('homeContent') }}

    {% include websiteTemplates('Home/_theater.html.twig') %}
</main>
{% endblock body %}
