@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Bold.ttf");
    src: url("../fonts/KumbhSans-Bold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Regular.ttf");
    src: url("../fonts/KumbhSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Light.ttf");
    src: url("../fonts/KumbhSans-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
    src: url("../fonts/Anton-Regular.ttf") format("truetype");
    font-weight: 400;
}