.flex {
    display: flex;

    &.row-end {
        justify-content: flex-end;
    }
    
    &.row-between {
        justify-content: space-between;
    }

    &.row-center {
        justify-content: center;
    }
}