<!doctype html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            font-family: "Helvetica", Sans-Serif;
        }
    </style>
</head>
<body>
    <table style="width: 100%;">
        <tr><td style="padding-left: 30px; padding-right: 30px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%; padding: 10px; text-align: left;">
                        <h1><img src="{{ absolute_url(asset('build/front/img/logo-color.png')) }}" alt="Logo"></h1>
                    </td>
                    <td style="width: 50%; padding: 10px; text-align: right;">
                        <span style="font-size: 20px; color: #980B27;">Réinitialisation du mot de passe</span>
                    </td>
                </tr>
            </table>

            <table style="width: 100%;">
                <tr><td style="padding: 10px;">
                    {{ user.firstName }},
                </td></tr>

                <tr><td style="padding: 10px;">
                    Vous recevez ce mail suite à une demande de réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous et renseignez votre nouveau mot de passe.
                </td></tr>

                <tr><td style="padding: 10px;">
                    <a href="{{ path }}">Cliquez ici</a>
                </td></tr>
            </table>

            <table  style="width: 100%; background-color: #0055A2;">
                <tr>
                    <td style="width: 50%; padding: 10px; text-align: left;">
                        <img style="max-width: 235px; height: 50px;" src="{{ absolute_url(asset('build/front/img/logo-white.png')) }}" alt="Logo">
                    </td>
                    <td style="width: 50%; padding: 10px; text-align: right;">
                        <span style="font-size: 12px; color: #FFFFFF; margin-bottom: 10px;">Ticket Factory</span><br>
                        <span>
                            <a style="font-weight: bold; color: #FFFFFF;" href="https://ticketfactory.fr">ticketfactory.fr</a>
                        </span>
                    </td>
                </tr>
            </table>
        </td></tr>
    </table>
</body>
</html>
