@import '../base/breakpoints';

.block {
    &-head {
        display: flex;
        justify-content: flex-end;
        padding-top: 8px;
    }

    &-title {
        margin-bottom: 16px;
    }

    &-delete {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &-activefield {
        padding-top: 4px;
        flex-direction: column;

        @include for-size('sm') {
            padding-top: 0;
            flex-direction: row;
        }
    }
}
